/* ------
| GLOBAL |
------ */
nav, h1, h2, h3, h4, h5, h6, li.snap-activity, .progressbar-text, #coursetools, #coursetools-list a {
   font-family: 'Courier', monospace !important;
}
/*#page-header {
background: lightgray;
}
#course-toc {
background-color:rgba(255,255,255,.95);
border: 5px solid gray;
}*/



/* --------
| MAIN NAV |
-------- */
/* Arrow Select Icon */
nav>.chapters li {
  list-style-type: none;
}
nav>.chapters li:hover::before {
   background-image: url(https://media.giphy.com/media/LlFhIhRDZiDLfIwE9L/giphy.gif);
   background-size: 20px 22px;
   display: inline-block;
   float: left;
   width: 20px;
   height: 22px;
   margin-left: -25px;
   content:"";
}
/* Course Dashboard Icon */
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
#course-toc .toc-footer>a#snap-course-tools img:hover {
   -webkit-animation:spin 1.5s ease infinite;
   -moz-animation:spin 1.5s ease infinite;
   animation:spin 1.5s ease infinite;
}




/* -----------------
| PROGRESS TRACKING |
----------------- */
/* Turn off Topic Complete Icon */
#course-toc .snap-section-complete {
   display: none !important;
}
/* Progress Icon Size */
#course-toc ol#chapters img {
   width: 1rem;
   margin-right: 0.3rem;
}
/* Progress Icon Placement */
#course-toc small {
   margin-left: 5em;
}
/* Special Icon ?? */
/* #course-toc ol#chapters li:nth-child(3) img:last-of-type svg path:first-child {

}
@-webkit-keyframes bounce {
0%, 20%, 50%, 60%, 100% {-webkit-transform: translateY(0);}
40% {-webkit-transform: translateY(-30px);}
60% {-webkit-transform: translateY(-15px);}
}

@keyframes bounce {
0%, 100% {transform: scaleY(1); transform: rotate(0);}
5% {transform: scaleY(0.6)}
15% {transform: rotate(90deg); transform-origin: 100% 100%}
30% {transform: rotate(0)}
}

.bounce {
-webkit-animation: bounce 2s ease-in infinite;
-moz-animation: bounce 3s ease-in infinite;
animation: bounce 2s ease-in infinite;
}*/



/* ------------
| COURSE TOOLS |
----------- */
.snap-student-dashboard-progress .js-progressbar-circle svg path:last-child {
   stroke: rgb(5,215,160);
}
.snap-student-dashboard-grade .js-progressbar-circle svg path:last-child {
   stroke: rgb(239,71,111);
}



/* -------
| MODULES |
------- */
/* MULTIPLE, ALL */
/* Button Styling */
.section li.snap-resource.modtype_label, .section li.snap-activity.modtype_quiz, .section li.snap-activity.modtype_assign, .section li.snap-activity.modtype_hsuforum, section li.snap-activity.modtype_lesson, .section li.snap-activity.modtype_choice {
   border-width: 4px;
   border-right-color: lightgray;
   border-bottom-color: dimgrey;
   border-top-color: lightgrey;
   border-left-color: dimgrey;
   -webkit-box-shadow: -8px 8px 0px 0px rgba(0,0,0,0.6);
   -moz-box-shadow: -8px 8px 0px 0px rgba(0,0,0,0.6);
   box-shadow: -8px 8px 0px 0px rgba(0,0,0,0.6);
}
.section li.snap-activity.modtype_quiz:active, .section li.snap-activity.modtype_assign:active, .section li.snap-activity.modtype_hsuforum:active, .section li.snap-activity.modtype_lesson:active, .section li.snap-activity.modtype_choice:active {
   background-color: darkgrey;
   color: black;
   border-left-color: dimgrey;
   border-top-color: dimgrey;
   border-bottom-color: white;
   border-right-color: white;
   -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
   -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
   box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
   transform: translate(-8px, 8px);
}
/* Sizing */
/*.section li.snap-resource.modtype_label,*/.section li.snap-activity.modtype_quiz, .section li.snap-activity.modtype_hsuforum:not(:first-child) {
   width: 48%;
   display: inline-block;
}
/* Links */
li.snap-activity a {
   color: brown !important;
}
/* Cursor */
/*.section li.snap-activity.modtype_hsuforum:hover, section li.snap-activity.modtype_hsuforum *:hover {
cursor: url(https://daringfireball.net/misc/2012/08/arrow.png), pointer;
}*/

/* ASSIGNMENTS */
.section li.snap-activity.modtype_assign {
   border-top-color: #ef476f;
   color: #ef476f;

   border-width: 6px;
   border-right-color: #ef476f;
   border-bottom-color: #80263B;
   border-left-color: #80263B;
}
.assign#module-1545372 .snap-assettype:before {
   content: 'Special ';
}

/* CHOICES */
.section li.snap-activity.modtype_choice {
   border-top-color: #9046CF;
   color: #9046CF;

   border-width: 6px;
   border-right-color: #401961;
   border-bottom-color: #401961;
   border-left-color: #401961;
}

/* FORUMS */
.section li.snap-activity.modtype_hsuforum {
   border-top-color: #06d6a0;
   color: #06d6a0;

   border-width: 6px;
   border-right-color: #06d6a0;
   border-bottom-color: #04805F;
   border-left-color: #04805F;
}

/* LESSONS */
.section li.snap-activity.modtype_lesson {
   border-top-color: #118ab2;
   color: #118ab2;

   border-width: 6px;
   border-right-color: #118ab2;
   border-bottom-color: #036082;
   border-left-color: #036082;
}

/* QUIZZES */
.section li.snap-activity.modtype_quiz {
   border-top-color: #ffd166;
   color: #ffd166;

   border-width: 6px;
   border-right-color: #ffd166;
   border-bottom-color: #806933;
   border-left-color: #806933;
}



/* -------
| LESSONS |
-------- */
/* Progress Bar */
.bar {
   background: pink;
}
#main .progress_bar .progress .bar {
   height: 2em;
   background: orange;
   width: 5px;
}
/* Nav Buttons */
.singlebutton {
   font-family: 'Courier', monospace;
   background: #ffd166;
   border-width: 3px;
   border-right-color: lightgray;
   border-bottom-color: dimgrey;
   border-top-color: lightgrey;
   border-left-color: dimgrey;
   -webkit-box-shadow: -4px 4px 0px 0px rgba(0,0,0,0.6);
   -moz-box-shadow: -4px 4px 0px 0px rgba(0,0,0,0.6);
   box-shadow: -4px 4px 0px 0px rgba(0,0,0,0.6);
}
.singlebutton .btn-secondary {
   font-family: 'Courier', monospace !important;
   text-transform: uppercase;
   background: #222;
   border-radius: 0;
}
.singlebutton:active {
   background-color: darkgrey;
   color: black;
   border-left-color: dimgrey;
   border-top-color: dimgrey;
   border-bottom-color: white;
   border-right-color: white;
   -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
   -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
   box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
   transform: translate(-3px, 3px);
}
